@charset "utf-8";

/* Title */
.tit_1 {position: relative; padding-bottom: 50px; color: #222; font-size: 48px; font-weight: 500; letter-spacing: -2px; line-height: 48px;}
.tit_1::after {content: ""; display: block; position: absolute; left: 0; bottom: 0; width: 30px; height: 2px; background: #0465be;}

.tit_2 {font-size: 30px; font-weight: 700;}

.tit_3 {color: #222; font-size: 48px; font-weight: 500; line-height: 44px; letter-spacing: -2px;}

.tit_4 {position: relative; padding-top: 12px; font-size: 30px; font-weight: 700;}
.tit_4::before {content: ""; display: block; position: absolute; left: 0; top: 0; width: 30px; height: 2px; background: #0465be;}

.tit_5 {color: #222; font-size: 26px; font-weight: 700;}

/* Text */
.txt_1 {color: #666; font-size: 20px; line-height: 30px;}

/* 리액트 관련 */
.react-datepicker-wrapper,
.react-datepicker__input-container {display: inline-block; vertical-align: top; width: auto;}


/* 리액트 관련 */
.react-datepicker__tab-loop {display: inline-block;}