@charset "utf-8";

/* accordion */
.accordion {
    position: relative;
    width: auto;
    height: auto;
    padding: 2vw 3vw 2vw;
}

.accordion .accordion_item{
    font-family: 'gsm';

}

.accordion .accordion_header{
    font-family: 'gsb';
    font-size: 20px;
}


.accordion .accordion_body .accordion_body_txt{
    font-family: 'gsm';
}

.accordion .accordion_img{
    width: 600px;
    height: auto;
	object-fit: contain;
	object-position: center center center center;
}

/* table */

.accordion .accordion_body .upper_icon{
    width: 100%;
    height: 30px;
    text-align: center;
}

.accordion .accordion_body .side_bar_icon{
    width: 40px;
    height: 40px;
    text-align: center;
}

.feature_table{
    font-family: 'gsm';
    text-align: center;
}

.feature_table .num_tag {
    width: 45px;
}
.feature_table .btn_tag {
    width: 70px;
}

.feature_table .intro_tag {
    width: 200px;
}

.feature_table .upper_img_th {
    width: 321px;
}


