@charset "utf-8";

html {
	height: 100%;
}


body {
	height: 100%;
	min-width: 1400px;
}

/*Header*/

.header {
	position: relative;
	font-family: 'gsb';
}

.header::after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	background: #dedede;
}

.header>.inner {
	position: relative;
	width: 1400px;
	height: 150px;
	margin: 0 auto;
	padding: 0 50px;
}

.header .logo {
	display: inline-block;
	padding: 70px 0px 0px 10px;
}

.header .logo .w img {
	width: 200px;
	height: auto;
	float: left;
}

.header .logo .m img {
	width: 180px;
	height: auto;
	float: left;
	margin-right: 10px;
}


.header .gnb {
	position: absolute;
	left: 430px;
	top: 78px;
	bottom: 10px;
	width: auto;
}

.header .gnb ul {
	font-size: 0;
	text-align: center;
	font-family: 'gsb';
}

.header .gnb ul::after {
	content: "";
	display: block;
	clear: both;
}

.header .gnb ul li {
	float: left;
}

.header .gnb ul li+li {
	margin-left: 98px;
}

.header .gnb ul li a {
	color: #666;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: -0.25px;
}

.header .gnb .active {
	/* text-decoration: underline;
	text-decoration-thickness: 3px;
	text-decoration-color:#1254ff;
	padding-bottom: 3px !important; */
	color: #1254ff;


}
/*dropdown*/
.gnb .dropdown-menu {
	display: none;
	position: absolute;
	background-color: #ffffff;
	border: 1px solid #0c0c0c;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	padding: 10px;
	justify-content: space-between;
}

.inner .gnb .dropdown-menu li {
	margin: 5px;
  	padding: 5px;
}

 .inner .gnb .dropdown-menu li a{
	font-family: 'gsb';
	font-size: 17px;
	color: #0c0c0c;
}
.inner .gnb .dropdown-menu li .active{
	color: #1254ff;
}

li:hover .dropdown-menu {
	display: block;
}


/*Footer*/
.wrapper {
	position: relative;
	min-height: 100%;
	font-family: 'gsm';
}

.footer {
	position: relative;
	bottom: 0;
	background: #bbbbbb;

}


.footer::before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 1px;
	background: #bbbbbb;
}

.footer .inner {
	position: relative;
	width: 1400px;
	margin: 0 auto;
	padding: 0 50px;
}

.footer .inner::after {
	content: "";
	display: block;
	clear: both;
}

.footer .info {
	float: left;
	padding-top: 44px;
	color: #ffffff;
	font-size: 16px;
	line-height: 26px;
}

.footer .info .footer_txt {
	font-family: 'gsm';
}

.footer .info .copy {
	margin-top: 12px;
	font-family: 'gsm';
}

/* Main */
.wrap {
	width: 77vw;
	margin: 0 auto;
}

.font_blue {
	color: #1254ff;
}

.point_txt {
	font-family: 'gsm';
}

.vb {
	position: relative;
	background: #fff;
	padding: 20px 0 35px;
}

.vb .vb_wording {
	padding: 6vw 8vw 5.8vw;

	position: relative;
}

.vb .vb_wording .vb_bg .vb_img_bg1 {
	background: url('./images/vb_img_bg1.png') no-repeat center/cover;
	position: absolute;
	width: 30vw;
	height: 30vw;
	top: 0;
	left: -11.5vw;
}

.vb .vb_wording .vb_bg .vb_imgset {
	position: absolute;
	width: 28vw;
	height: 28vw;
	top: 10%;
	right: -2vw;
}

.vb .vb_wording .vb_bg .vb_img_bg2 {
	background: url('images/vb_img_bg2.png') no-repeat center/cover;
}

.vb .vb_wording .vb_bg .vb_img_man {
	background: url('#img') no-repeat center/cover;
	filter: drop-shadow(0.5em 0.5em 1em rgba(0, 0, 0, 0.2));
}

.vb .vb_wording .wording_txt:before {
	content: "";
	display: block;
	width: 30px;
	height: 4px;
	background: #1254ff;
	margin: 0 0.5vw 0.5vw;
}

.vb .vb_wording .wording_txt {
	margin-bottom: 2vw;
	font-family: 'Noto Sans KR';
	font-size: 54px;
	line-height: 1.5;
	letter-spacing: -0.03em;
	transform: skew(-0.03deg);
	color: #111;
}

.vb .product_intro_img {
	max-width: 100%;
	width: auto !important;
	height: auto;
	object-fit: contain;
}

.vb .company_intro_img {
	max-width: 100%;
	width: auto !important;
	height: auto;
	object-fit: contain;
}

.vb .cost_img {
	max-width: 100%;
	width: auto !important;
	height: auto;
	object-fit: contain;
}

.vb .vb_wording .wording_txt span {
	font-weight: 500;
}

.vb .vb_wording .wording_txt .point {
	font-size: 60px;
	margin-right: 0.5vw;
}


.vb .vb_txt {
	width: 80vw;
	bottom: 5vw;
	background: #eee;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px 50px 50px 50px;
	box-sizing: border-box;
}

.vb .vb_txt .wrap {
	display: flex;
}

.vb .vb_txt dl {
	width: 39%;
	margin-right: 2%;
	transform: skew(-0.03deg);
}

.vb .vb_txt dl.vb_s2 {
	margin-right: 0;
}

.vb .vb_txt dl dt {
	font-size: 1.2em;
	font-weight: bold;
}

.vb .vb_txt dl dt span {
	font-size: 1.3em;
	font-family: 'gsm';
	padding-right: 0.1em;
}

.vb .vb_txt dl dd {
	margin-top: 2%;
	font-size: 16px;
	line-height: 1.7;
	padding: 15px;
	box-sizing: border-box;
	width: 100%;
	background: #fff;
	font-weight: 600;
	color: #333;
	border-radius: 10px;
}

.vb .wrap .subtitle {
	font-family: 'gsm';
	padding: 20px 60px 20px 60px;
	font-size: 30px;
}

.vb .qna_QR {
	width: 400px;
	height: 400px;
	position: relative;
	padding: 20px 20px 20px 20px;
}