@charset "utf-8";

@media (max-width: 768px) {
    body {
        width: 100%;
    }
    /*Header*/

    .m_header {
        position: relative;
        font-family: 'gsb';
    }
s
    .bg-body-tertiary{
        width: 100%;
        background-color: #ffffff;
    }

    .m_wrap.container {
        width: 100%;
        background-color: #ffffff;
    }

    .m_wrap img{
        max-width: 200px;
    }

    .nav-link{
        font-size: 1rem;
        color: black;
    }

    .nav-link.active {
        color: #1254ff !important;
    }

    .m_wrap .logo img {
        position: relative;
        max-width: 200px;
        float: left;
    }


    /*Footer*/
    .wrapper {
        position: relative;
        min-height: 100%;
        font-family: 'gsm';
    }

    .footer {
        position: relative;
        bottom: 0;
        background: #bbbbbb;

    }


    .footer::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top:0;
        width: 100%;
        height: 1px;
        background: #bbbbbb;
    }

    .footer .inner {
        position: relative;
        width: 100%;
        margin: 0 auto;
        padding: 2vh 2vw;
    }

    .footer .inner::after {
        content: "";
        display: block;
        clear: both;
    }

    .footer .info {
        float: left;
        padding-top: 5%;
        color: #ffffff;
        font-size: 0.8em;
        line-height: 15px;
    }

    .footer .info .footer_txt {
        font-family: 'gsm';
    }

    .footer .info .copy {
        margin-top: 5px;
        font-family: 'gsm';
    }

    .footer .logo {
        visibility: hidden;
    }

    /*main*/

    .wrap {
        width: 100%;
    }
    .wrap_c {
        width: 100%;
        text-align: center;
    }
    
    
    .font_blue {
        color: #1254ff;
    }
    
    .point_txt {
        font-family: 'gsm';
    }
    
    .vb {
        position: relative;
        background: #fff;
    }
    
    .vb .vb_wording {
        position: relative;
    }
    
    .vb .vb_wording .vb_bg .vb_imgset {
        position: relative;
        width: 28vw;
        height: 28vw;
        top: 10%;
        right: -2vw;
    }
    
    .vb .vb_wording .wording_txt:before {
        content: "";
        display: block;
        width: 30px;
        height: 4px;
        background: #1254ff;
        margin: 0 0.5vw 0.5vw;
    }
    .vb .vb_wording .wording_txt2:before {
        content: "";
        display: block;
        width: 80%;
        height: 4px;
        margin: 0 0.5vw 0.5vw;
    }
    
    .vb .vb_wording .wording_txt {
        margin-bottom: 2vw;
        font-family: 'Noto Sans KR';
        font-size: 2rem;
        line-height: 1.5;
        letter-spacing: -0.03em;
        transform: skew(-0.03deg);
        color: #111;
    }
    
    .vb .product_intro_img {
        max-width: 100%;
        width: auto !important;
        height: auto;
        object-fit: contain;
    }
    
    .vb .company_intro_img {
        max-width: 100%;
        width: auto !important;
        height: auto;
        object-fit: contain;
    }
    
    .vb .cost_img {
        max-width: 100%;
        width: auto !important;
        height: auto;
        object-fit: contain;
    }
    
    .vb .vb_wording .wording_txt span {
        font-weight: 500;
    }
    
    .vb .vb_wording .wording_txt .point {
        font-size: 2rem;
        margin-right: 0.5vw;
    }
    
    .vb .vb_wording .wording_txt2 {
        margin-bottom: 1vw;
        font-family: 'Noto Sans KR';
        font-size: 1rem;
        line-height: 0.5;
        letter-spacing: -0.03em;
        transform: skew(-0.03deg);
        color: #111;
    }
    
    .vb .vb_wording .wording_txt2 span {
        font-size: 1rem;
        font-weight: 500;
    }
    
    
    .vb .vb_txt {
        width: 100%;
        bottom: 1vw;
        background: #eee;
        display: flex;
        align-items: left;
        justify-content: space-between;
        padding: 0.2vw;
        box-sizing: border-box;
    }
    
    .vb .vb_txt .wrap {
        display: flex;
    }
    
    .vb .vb_txt dl {
        width: 100%;
        margin-right: 2%;
        transform: skew(-0.03deg);
    }
    
    .vb .vb_txt dl.vb_s2 {
        margin-right: 0;
    }
    
    .vb .vb_txt dl dt {
        font-size: 1em;
        font-weight: bold;
    }
    
    .vb .vb_txt dl dt span {
        font-size: 1em;
        font-family: 'gsm';
        padding-right: 0.1em;
    }
    
    .vb .vb_txt dl dd {
        margin-top: 2%;
        font-size: 1em;
        line-height: 1.7;
        padding: 0.5rem;
        box-sizing: border-box;
        width: 100%;
        background: #fff;
        font-weight: 600;
        color: #333;
        border-radius: 10px;
    }
    
    .vb .wrap .subtitle {
        font-family: 'gsm';
        padding: 0.7rem;
        font-size: 1rem;
    }
    
    .vb .qna_QR {
        width: 200px;
        height: 200px;
        position: center;
        padding: 5px 5px 5px 5px;
    }
}